@font-face {
    font-family: 'barlow-semi-condensed'; /* Name your font family */
    src: url('Barlow_Semi_Condensed/BarlowSemiCondensed-Light.ttf'); /* Locate the .ttf file within your directory*/
  }

@font-face {
    font-family: 'playfair';
    src: url('Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}
body {
    font-family: 'barlow-semi-condensed';
    background-color:rgb(248, 247, 244);
    color: rgb(29, 24, 17);
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 1%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: relative;
}

.nav-options {
    text-transform: uppercase;
    display: flex;
    gap: 60px;
    transition: color 0.3s ease;
}

.nav-options .linkedin-link:hover {
    text-decoration: none;
}

.nav-options a{
    color: rgb(29, 24, 17);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.nav-options a:hover{
    color: rgb(197, 135, 59);
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

.logo {
    height: 50px;
    padding-top: 15px;
}

.logo-image{
    width: 15%;
}

.hero-section{
    margin-top: 4%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}


.right-column {
    padding: 20%;
}

.grid-image {
    width: 100%;
    object-fit: cover;
}

.circle-container {
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 450px;
}


.hero-text {
    padding-top: 3%;
    text-transform: uppercase;
    color: rgb(133, 130, 130);
    font-weight: 600;
}

hr {
    width: 5%;
    margin: 0 2px;
    text-align: left;
}

h1{
    margin-top: 30px;
    margin-bottom: 0;
    font-family: 'playfair';
    font-size: 60px;
    font-weight: bolder;
}

h2{
    font-family: 'playfair';
    color: rgb(133, 130, 130);
    text-transform: capitalize;
    font-size: 43px;
}

h3{
    margin: 0;
    text-transform: capitalize;
}

.hero-contact {
    margin-top: 60px;
}

.hero-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.linkedin-link {
    color: inherit;
    text-decoration: none;
}

.linkedin-link:hover{
    text-decoration: underline;
}

.icon {
    width: 25px;
    height: 25px;
}

.about-header {
    color: rgb(197, 135, 59);
    text-transform: uppercase;
}

.about-brief {
    font-family: 'playfair';
    font-weight: bolder;
    font-size: 50px;
    margin-top: 0;
}

.about-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.brief-column {
    font-family: 'playfair';
    font-size: 35px;
    font-weight: bold;
    color: rgb(197, 135, 59);
    padding-right: 90px;
}

.description-column {
    font-size: 18px;
}

.description-column-bottom-text {
    color: rgb(138, 138, 138);
}

.experience {
    margin-top: 10%;
}

.experience-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.experience-grid h1{
    text-transform: capitalize;
    font-size: 45px;
}

.skills {
    width: 100%;
    max-width: 500px;
    padding: 20px 0;
}

.skill-name{
    text-transform: capitalize;
    color: rgb(133, 130, 130);
}

.skill-bar {
    height: 14px;
    background: white;
    border-radius: 10px;
    margin: 5px 0 15px 0;
}

.skill-per {
    background: rgb(197, 135, 59);
    height: 14px;
    border-radius: 10px;
    position: relative;
    animation: fillBars 2.5s;
}

@keyframes fillBars {
    from{
        width: 0%;
    }
    to{
        width: 100%;
    }
}

.experience-item {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.experience-left {
    flex: 0 0 170px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.years{
    font-weight: bold;
    color: black;
}

.divider {
    width: 80%;
    height: 2px;
    background-color: rgb(133, 130, 130);
    margin: 18px 0; 
}

.company-name {
    color: rgb(133, 130, 130);
}

.header{
    font-size: 23px;
    color: rgb(197, 135, 59);
}

.description {
    font-size: 18px;
    line-height: 1.5;
}

.description-smaller-screen{
    display: none;
}

.projects{
    margin-top: 15%;
    margin-bottom: 15%;
}


.project-header {
    text-align: center;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
}

.projects h1{
    text-transform: capitalize;
    font-size: 45px;
}

.project-item{
    margin-top: 20px;
    max-width: 100%; /* Adjust the max width as needed */
    max-height: 60%; /* Adjust the max height as needed */
}

.project-item img{
    border-radius: 10px;
    height: 77%;
}

.project-item iframe{
    border-radius: 10px;
    height: 77%;
}

.project-item h3{
    margin: 20px 0;
    font-size: 25px;
    color: rgb(197, 135, 59);
    font-weight: bolder;
}

.project-item p {
    font-size: 20px;
    line-height: 1.35;
}

.flappy-bird{
    width: 100%;
}

.github-button-container{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.github-button {
    display: flex;
    padding: 10px 20px;
    margin: 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    background-color: rgb(197, 135, 59);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    width: 30%;
    justify-content: center;
}

.github-button:hover {
    background-color: rgb(97, 58, 2); /* Secondary color from your palette */
    color: rgb(248, 247, 244);
}

.footer {
    background-color: #ffffff;
    padding: 20px;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.logo-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.footer-logo {
    width: 10%;
    margin-right: 10px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}
.company-name {
    font-size: 1.2em;
    font-weight: bold;
}

.footer-columns {
    display: flex;
    justify-content: space-between;
    gap: 10%;
    margin-bottom: 20px; /* Added margin-bottom */
}

.footer-column {
    flex: 1;
    min-width: 300px;
}

.footer-column h3 {
    margin-bottom: 10px;
}

.footer-link {
    color: rgb(197, 135, 59); /* Change color as per your palette */
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
}

.website-credit {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 0.9em;
    color: #666;
}
/* EOF Breakpoint Screen */
/* ------------------------------------------------ */
/* Responsive Design */

@media screen and (max-width: 1024px){
    h1{
        margin-top: 10px;
        margin-bottom: 0;
        font-family: 'playfair';
        font-size: 30px;
        font-weight: bolder;
    }
    
    h2{
        font-family: 'playfair';
        color: rgb(133, 130, 130);
        text-transform: capitalize;
        font-size: 23px;
    }
    
    h3{
        margin: 0;
        text-transform: capitalize;
        font-size: 18px;
    }

    .nav-options{
        gap: 10px;
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .hero-contact {
        margin-top: 30px;
    }
    
    .circle-container {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
    }

    hr {
        width: 10%;
    }

    .about{
        margin-top: 30%;
    }

    .about-header {
        font-size: 14px;
    }

    .about-brief {
        font-family: 'playfair';
        font-weight: bolder;
        font-size: 20px;
        margin-top: 0;
    }

    .brief-column {
        font-family: 'playfair';
        font-size: 20px;
        font-weight: bold;
        color: rgb(197, 135, 59);
        padding-right: 0;
    }

    .description-column {
        margin-top: 0;
        font-size: 14px;
    }
    /* EOF About Section */
    /* ------------------------- */
    /* Experience */

    .experience-grid h1{
        font-size: 25px;
    }

    .skills {
        width: 100%;
        max-width: 350px;
        padding: 20px 0;
    }

    .skill-bar {
        height: 10px;
        background: white;
        border-radius: 10px;
        margin: 5px 0 15px 0;
    }
    
    .skill-per {
        background: rgb(197, 135, 59);
        height: 10px;
        border-radius: 10px;
        position: relative;
        animation: fillBars 2.5s;
    }

    .skill-name{
        font-size: 12px;
    }

    .years{
        font-weight: bold;
        color: black;
        font-size: 12px;
    }

    .divider {
        width: 60%;
        height: 2px;
        background-color: rgb(133, 130, 130);
        margin: 10px 0; 
    }

    .company-name {
        font-size: 12px;
        font-weight: bold;
    }

    .header{
        font-size: 14px;
        color: rgb(197, 135, 59);
    }
    
    .description {
        display: none;
    }

    .description-smaller-screen{
        display: block;
        margin-top: 0;
        font-size: 14px;
        line-height: 1.1;
    }
    /* EOF Experience Section */
    /* ------------------------- */
    /* Projects */

    .projects-grid {
        grid-template-columns: 1fr;
    }
    .projects{
        margin-top: 15%;
    }
    
    
    .project-header {
        text-align: center;
    }
    
    /* .projects-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 5%;
    } */
    
    .projects h1{
        text-transform: capitalize;
        font-size: 25px;
    }
    
    .project-item{
        margin-top: 20px;
        max-width: 100%;
    }
    
    .project-item img{
        border-radius: 10px;
        height: 77%;
    }
    
    iframe{
        border-radius: 10px;
        width: 100%;
    }
    
    .project-item h3{
        margin: 20px 0;
        font-size: 18px;
        color: rgb(197, 135, 59);
        font-weight: bolder;
    }
    
    .project-item p {
        font-size: 14px;
        line-height: 1.1;
    }
    
    .flappy-bird{
        width: 100%;
    }
    
    .github-button-container{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .github-button {
        display: flex;
        padding: 10px 20px;
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(197, 135, 59);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        width: 30%;
        justify-content: center;
    }
    
    .github-button:hover {
        background-color: rgb(97, 58, 2); /* Secondary color from your palette */
        color: rgb(248, 247, 244);
    }

    /* EOF Projects Section */
    /* ------------------------- */
    /* Footer */

    .footer {
        margin-top: 400px;
    }

    /* .footer {
        background-color: #ffffff;
        padding: 20px;
        margin: 20px;
        border-radius: 15px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: relative;
    } */
    
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .logo-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .footer-logo {
        width: 10%;
        margin-right: 10px;
    }
    
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5%;
    }
    .company-name {
        font-size: 13px;
    }
    
    .footer-columns {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        gap: 10px;
        margin-bottom: 60px; /* Added margin-bottom */
    }
    
    .footer-column {
        flex: 1;
        min-width: 300px;
        font-size: 12px;
    }
    
    .footer-column h3 {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    
    .footer-link {
        color: rgb(197, 135, 59); /* Change color as per your palette */
        text-decoration: none;
        font-size: 12px;
    }
    
    .footer-link:hover {
        text-decoration: underline;
    }
    
    .website-credit {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 12px;
        color: #666;
    }
}

@media screen and (max-width: 540px) {
    h1{
        margin-top: 10px;
        margin-bottom: 0;
        font-family: 'playfair';
        font-size: 30px;
        font-weight: bolder;
    }
    
    h2{
        font-family: 'playfair';
        color: rgb(133, 130, 130);
        text-transform: capitalize;
        font-size: 23px;
    }
    
    h3{
        margin: 0;
        text-transform: capitalize;
        font-size: 18px;
    }

    .hero-section {
        grid-template-columns: 1fr;
    }

    .hero-contact {
        margin-top: 30px;
    }

    .grid-container{
        grid-template-columns: 1fr;
    }

    .left-column{
        order: 2;
    }

    .right-column{
        order: 1;
        margin: 0;
        padding: 0;
    }
    
    .circle-container {
        border-radius: 50%;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
        height: 250px;
    }

    hr {
        width: 10%;
    }

    .about{
        margin-top: 30%;
    }

    .about-header {
        font-size: 14px;
    }

    .about-brief {
        font-family: 'playfair';
        font-weight: bolder;
        font-size: 20px;
        margin-top: 0;
    }

    .about-grid {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .brief-column {
        font-family: 'playfair';
        font-size: 20px;
        font-weight: bold;
        color: rgb(197, 135, 59);
        padding-right: 0;
    }

    .description-column {
        margin-top: 0;
        font-size: 14px;
    }
    /* EOF About Section */
    /* ------------------------- */
    /* Experience */

    .experience-grid {
        grid-template-columns: 1fr;
    }

    .experience-grid h1{
        font-size: 25px;
    }

    .skills {
        width: 100%;
        max-width: 350px;
        padding: 20px 0;
    }

    .skill-bar {
        height: 10px;
        background: white;
        border-radius: 10px;
        margin: 5px 0 15px 0;
    }
    
    .skill-per {
        background: rgb(197, 135, 59);
        height: 10px;
        border-radius: 10px;
        position: relative;
        animation: fillBars 2.5s;
    }

    .skill-name{
        font-size: 12px;
    }

    .years{
        font-weight: bold;
        color: black;
        font-size: 12px;
    }

    .divider {
        width: 60%;
        height: 2px;
        background-color: rgb(133, 130, 130);
        margin: 10px 0; 
    }

    .company-name {
        font-size: 12px;
        font-weight: bold;
    }

    .header{
        font-size: 14px;
        color: rgb(197, 135, 59);
    }
    
    .description {
        display: none;
    }

    .description-smaller-screen{
        display: block;
        margin-top: 0;
        font-size: 14px;
        line-height: 1.1;
    }
    /* EOF Experience Section */
    /* ------------------------- */
    /* Projects */

    .projects-grid {
        grid-template-columns: 1fr;
    }
    .projects{
        margin-top: 15%;
    }
    
    
    .project-header {
        text-align: center;
    }
    
    .projects h1{
        text-transform: capitalize;
        font-size: 25px;
    }
    
    .project-item{
        margin-top: 20px;
        max-width: 100%;
    }
    
    .project-item img{
        border-radius: 10px;
        height: 77%;
    }
    
    iframe{
        border-radius: 10px;
        width: 100%;
    }
    
    .project-item h3{
        margin: 20px 0;
        font-size: 18px;
        color: rgb(197, 135, 59);
        font-weight: bolder;
    }
    
    .project-item p {
        font-size: 14px;
        line-height: 1.1;
    }
    
    .flappy-bird{
        width: 100%;
    }
    
    .github-button-container{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .github-button {
        display: flex;
        padding: 10px 20px;
        margin: 20px 0;
        font-size: 20px;
        font-weight: bold;
        color: #fff;
        background-color: rgb(197, 135, 59);
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
        width: 30%;
        justify-content: center;
    }
    
    .github-button:hover {
        background-color: rgb(97, 58, 2); /* Secondary color from your palette */
        color: rgb(248, 247, 244);
    }

    /* EOF Projects Section */
    /* ------------------------- */
    /* Footer */

    .footer {
        margin-top: 400px;
    }
    
    .footer-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }
    
    .logo-container {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .footer-logo {
        width: 10%;
        margin-right: 10px;
    }
    
    .footer-grid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 5%;
    }
    .company-name {
        font-size: 13px;
    }
    
    .footer-columns {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 20px;
        margin-bottom: 60px; /* Added margin-bottom */
    }
    
    .footer-column {
        flex: 1;
        min-width: 300px;
        font-size: 12px;
    }
    
    .footer-column h3 {
        margin-bottom: 5px;
        font-weight: bold;
        font-size: 14px;
    }
    
    .footer-link {
        color: rgb(197, 135, 59); /* Change color as per your palette */
        text-decoration: none;
        font-size: 12px;
    }
    
    .footer-link:hover {
        text-decoration: underline;
    }
    
    .website-credit {
        position: absolute;
        bottom: 10px;
        left: 20px;
        font-size: 12px;
        color: #666;
    }
}

@media screen and (max-width: 768px) {
    .nav-options {
        display: none;
        text-transform: capitalize;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: white;
        width: 100%;
        padding: 10px 0;
        text-align: left;
        border-radius: 15px;
        gap: 0;
    }

    .nav-options a {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
    }
}
